#searchbox-container{
    width: 200px;
    border: 2px solid #454344;
    background: #EDB716;
    margin-bottom: 20px;
    padding: 10px;
}

#searchbox a{
    text-decoration: none;
    background: #454344;
    border: 1px solid #454344;
    padding: 2px;
    color: #fff;
}

#searchbox input{
    width: 150px;
}

#left-panel{
    height: 100%;
    float: left;
/*    margin-left: 20px;*/
    max-width: 220px;
    min-width: 200px;
}

/*############################### LEFT-MENU ####################################*/
#left-menu-container{
    width: 200px;
    margin-bottom: 20px;
}

#left-menu{
    border: 2px solid #454344;
    font-size: x-large;
    line-height: 2em;
    padding:5px;
}

#left-menu li{
    list-style: none;
    margin-right: 5px;
    padding-right: 20px;
    text-align: left;
}

/*############################ CART-PREVIEW ####################################*/

#cart-preview-container{

}

#cart-preview{
    width: 220px;
    height: auto;
    padding-bottom: 30px;
    background: #F6F6F5;
}

#cart-preview h3{
    font-size: xx-large;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2px;
    display: inline;
}

#cart-preview .head{
    background: #EDB716;
    margin: 0;
    padding: 5px;
    border: 2px solid;
}

#cart-preview ul{
    padding-left: 5px;
}

#cart-preview li{
    clear: both;
    line-height: 1.2em;
    list-style: none;
    margin-left: 2px;
    text-align: left;
    margin-bottom: 35px;
}

#cart-preview .veg-short-span{
    font-size: smaller;
}

#cart-preview .qty-span{
    margin-top: 3px;
    font-weight: bolder;
    margin-left: 0;
}

#cart-preview .rate-span{
    clear: left;
    font-weight: bolder;
    float: right;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}