.veg-item-div {
    padding: 5px;
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    border-top: 2px solid #93BE40;
    border-left: 2px solid #93BE40;
    border-right: 2px solid #93BE40;
    max-width: 320px;
    min-width: 320px;
    overflow: hidden;
}

.veg-small-image {
    display: inline;
    float: left;
    margin-right: 10px;
    width:75px;
    height:75px;
}

.veg-small-image:hover{
    cursor: pointer;
}

.veg-name-span{
    display: inline;
    float: left;
    margin-top: 3px;
    font-size: larger;
    font-weight: bold;
}

.information-div {
    clear: both;
    word-wrap: break-word;
    width: 100%;
}

.organic-span {
    font-weight: bold;
    color: #618122;
    margin-right: 4px;
}

.inorganic-span {
    font-weight: bold;
    color: #454344;
    margin-right: 4px;
}

.edit-quantity-span{
    color: #FFF;
    padding: 1px 2px;
    font-weight: bold;
    background: #454344;
    border: 1px solid #454344;
}

.edit-quantity-span:hover{
    cursor: pointer;
}

.rate-desc-span{
    float: left;
    width: 200px;
}

.qty-span {
   margin-left: 5px;
   float: left;
}

.qty-span input{
    width: 20px;
    height: 1em;
    margin-top: 0;
}