<div id="cart-preview-container">
  <div id="cart-preview">
    <div class="head">
    <h3>cart</h3><span class="rate-span">(&#x20b9 9999.00)</span>
    </div>
    <ul>
      <li>
        <span class="veg-short-span">Lorem Ipsum English<br/>/Lorem Ipsum Marathi</span><br/>
        <span class="qty-span">Qty <input name="Qty" type="text" width="2" maxlength="2" value="2"/> <span class="edit-quantity-span">Add</span></span>
        <span class="rate-span">&#x20b9 999.10</span>
      </li>
      <li>
        <span class="veg-short-span">Lorem Ipsum English<br/>/Lorem Ipsum Marathi</span><br/>
        <span class="qty-span">Qty <input name="Qty" type="text" width="2" maxlength="2" value="2"/> <span class="edit-quantity-span">Add</span></span>
        <span class="rate-span">&#x20b9 999.10</span>
      </li>
      <li>
        <span class="veg-short-span">Lorem Ipsum English<br/>/Lorem Ipsum Marathi</span><br/>
        <span class="qty-span">Qty <input name="Qty" type="text" width="2" maxlength="2" value="2"/> <span class="edit-quantity-span">Add</span></span>
        <span class="rate-span">&#x20b9 999.10</span>
      </li>
      <li>
        <span class="veg-short-span">Lorem Ipsum English<br/>/Lorem Ipsum Marathi</span><br/>
        <span class="qty-span">Qty <input name="Qty" type="text" width="2" maxlength="2" value="2"/> <span class="edit-quantity-span">Add</span></span>
        <span class="rate-span">&#x20b9 999.10</span>
      </li>
    </ul>
  </div>
</div>