<div id="footer-container">
<div id="footer">
<ul>
  <li>About Us</li>
  <li>How It Works</li>
  <li>Highlights</li>
  <li class="no-border">Contact Us</li>
</ul>
<span id="copyright">&copy; 2011 obhajiwale.com</span>
</div>
</div>
