<div class="top_bar_container">
  <h1>O Bhajiwale</h1>
<div id="top_bar">
<span id="username" class="button_blue">username is large!!!</span>
<span id="cart-symbol" class="button_blue">cart (99)</span>
<span id="order" class="button_blue">Place order</span>
</div>
</div>