<div class="veg-item-div">
  <div>
    <img class="veg-small-image" alt="bhindi" src="images/vegetables/bhindi.jpg"/>
    <span class="veg-name-span">Lorem Ipsum English</span><br/>
    <span class="veg-name-span">Lorem Ipsum Marathi</span>
  </div>
  <div class="information-div">
    <span class="unit-span smaller-font"> per 250 gms</span>
    <br/>
    <span class="rate-desc-span">
      <span class="organic-span block-display">Organic </span>
      <span class="rate-span">&#x20b9 8</span>
    </span>
    <span class="qty-span">Qty <input name="Qty" type="text" width="2" maxlength="2" value="2"/> <span class="edit-quantity-span">Add</span></span>
    <br/>
    <span class="rate-desc-span">
      <span class="inorganic-span block-display">In-Organic </span>
      <span class="rate-span">&#x20b9 119.50</span>
    </span>
    <span class="qty-span">Qty <input name="Qty" type="text" width="2" maxlength="2" value="0"/> <span class="edit-quantity-span">Add</span></span>
    <br/>

  </div>

</div>